*{
    font-family: 'Open Sans', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;

}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.primary-color{
    color: #fd6e0a;

}
nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color:#474747;

}
.btn-primary{
     border-radius: 5px;
     background: #fd6e0a;
     border: 0;
     color: white;
     font-weight:700;
     font-size: 20px;
     padding: 15px 35px;
}
/* header related style  */
.header{
    background-color: #fff8f3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;

}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile-pic{
    width: 500px;
    margin-bottom: -43px;
    /* padding: 0; */
}
.banner-greeting{
    font-size: 50px;
    color: #474747;
    margin-bottom: 0;
    
}
.banner-title{
    font-size: 85px;
    font-weight: 700px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-des{
    color: #181818;
    margin-top: 20px;
    margin-bottom: 30px;
}
.banner-content{
    max-width: 500px;

}
/* about section */
.about{
    padding:130px ;
    background-color: #fff8f3;
    border-radius: 10px;
    margin: 130px 0px;
}
.section-title{
    text-align: center;
    color: #181818;
    font-weight: 700;
    font-size: 35px;

    
}
.section-des{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about-info-container{
    display: flex;
    justify-content: space-around;

}
.about-info{
    text-align: center;

}
.what-i-do{
    padding: 30px 150px;
}
/* skill related style */
.skills-container{
    display: flex;
    gap: 24px;
}
.skill-des{
    color: #474747;
    
}
.skill{
    padding: 30px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.062);

}
main section{
    margin: 130px;
}
/* resume section style  */
.resume-collum-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;

}
.resume-container{
    display: flex;
    gap: 50px;
}
.resume-item-des , .resume-item-institute{
    color: #757575;
}
.resume-item-title{
    color: #474747;
    font-size: 25px;
    /* font-style: normal; */
    font-weight: 700;
    margin-bottom: 10px;
}
.resume-container hr{
    margin: 30px;
}
.resume-item-institute{
    margin-bottom: 20px;
    margin-top: 0;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}
/* footer style  */
footer{
    display: flex;
    background-color: #fff8f3;
    padding: 130px 200px;
    margin-top: 100px;
    gap: 100px
    ;
}
.footer-collum{
    width: 50%;
}
.contact input[type="text"], .contact input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    /* font-size: ; */
    color: #757575;
    background-color: #FFF ;
    border-radius: 5x;
    border: 0;
    width: 100%;
}
/* .contact input */
.social-links a{
    margin-right: 25px;
    margin-left: -6px;
}
.section-des{
    text-align: left;
    margin-bottom: 20px;
}